@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .snap {
        scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
      }
      .snap-y {
        --scroll-snap-direction: y;
      }
      .snap-mandatory {
        --scroll-snap-constraint: mandatory;
      }
      .snap-start {
        scroll-snap-align: start;
      }

      .hide-scrollbar-chrome::-webkit-scrollbar {
        display: none;
      } 

      .hide-scrollbar-firefox {
        -ms-overflow-style: none;
        scrollbar-width: none; 
      }

      .scroll-smooth {
        scroll-behavior: smooth;
      }

      .line-1-animation {
        animation: animated-text-line-1 2s steps(26,end) 1s 1 normal both,
                   animated-cursor-line 900ms steps(26,end) 0.5s 4;
      }
      
      @keyframes animated-text-line-1{
        from{width: 0;}
        to{width: 345px;}
      }
      
      .line-2-animation {
        animation: animated-text-line-2 1.5s steps(26,end) 5s 1 normal both,
                   animated-cursor-line 900ms steps(26,end) 4s 4
      }
      
      @keyframes animated-text-line-2{
        from{width: 0;}
        to{width: 230px;}
      }
   
      .line {
        border-right: solid 3px transparent;
        white-space: nowrap;
        overflow: hidden;    
        font-family: 'Roboto', monospace;  
        font-size: 28px;
      }
      
      .line-3-animation {
        animation: animated-text-line-3 1.25s steps(26,end) 8.5s 1 normal both,
                   animated-cursor-line 900ms steps(26,end) 7.5s 5;
      }
      
      
      @keyframes animated-text-line-3{
        from{width: 0;}
        to{width: 220px;}
      }
      
      
      @keyframes animated-cursor-line{
        from{border-right-color: transparent;}
        to{border-right-color: #FFFFFF;}
      }
      

      
  }